# systemd service file to lock screen on suspend
# source of truth: ~/.config/awesome
#
# Instructions:
#   sudo ln screenlock.service /etc/systemd/system/screenlock.service  # hard-link, not soft-link
#   systemctl enable screenlock.service
#
# adapted from https://wiki.debian.org/ScreenLockingOnSleep
#
[Unit]
Description=lockscreen
Before=sleep.target
Before=hibernate.target
Before=suspend-then-hibernate.target

[Service]
User=vchudnov
Environment=DISPLAY=:0
ExecStart=/usr/bin/xsecurelock
ExecStartPost=sleep 1s # allow screen to lock before suspending

[Install]
WantedBy=sleep.target
WantedBy=hibernate.target
WantedBy=suspend-then-hibernate.target
